<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <img src="/assets/image/home.jpg " alt="">
      </div>
      <div class="main-text">
        <h3 class="text1">All your Thoughts</h3>
        <h3 class="text2">in one place</h3>
        <p class="text3">every idea you've ever had, all <br> stored for you. a safe box like none other</p>
       
      </div>
      <div class="submit-button">
        <button><a href='/signup'>Get Started</a></button>
        
      </div>
    </div>
  </body>
</html>