<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Thoughts</title>
  </head>
  <body>
    <%- body %>
  </body>
</html>