body {
  max-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}
.image-container {
  width: 100%;
  margin: 1.5em 0;
}
.image-container > img {
  width: 100%;
  object-fit: contain;
}
.main-text {
  text-align: center;
  line-height: 1.7;
  margin-top: -1.6em;
}
.text1,
.text2 {
  font-size: 1.5em;
}
.submit-button {
  text-align: center;
  margin: 0.9em 0;
}
.submit-button > button {
  border: none;
  border-radius: 9px;
  background-color: var(--dark-color);
  color: #fff;
  padding: 1em 6.8em;
  cursor: pointer;
}
.submit-button > button > a {
  text-decoration: none;
  color: #fff;
}
